<a href="https://colab.research.google.com/github/rehsanva/PA-2025/blob/main/variaveiseoperadoresaritmeticos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variavéis e Constantes

In [ ]:
idade= 15
altura = 1.70
nome = "Rebeca Santos"
vai = True

In [ ]:
nomes= ["Rebeca Santos","Priscila","Ricardo"]
nomes2= ("Rebeca Santos","Priscila","Ricardo")
tudo={nome:"Rebeca Santos",idade: 15,altura:1.70,vai:True}

In [ ]:
print(nome)
print(nomes)
print(nomes2)

Rebeca Santos
['Rebeca Santos', 'Priscila', 'Ricardo']
('Rebeca Santos', 'Priscila', 'Ricardo')

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
print("O nome dela é:", nome, "sua idade é:", idade,"anos" ",e ele tem", altura,"metros.")

O nome dela é: Rebeca Santos sua idade é: 15 anos,e ele tem 1.7 metros.

In [ ]:
print(f"O nome dela é : {nome}. A altura é: {altura}")

NameError: name 'nome' is not defined

Área do Circulo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do circulo:" ))

Digite o valor do raio do circulo:5

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print("A área do circulo é:", areacir)

A área do circulo é: 78.53975

Área do Quadrado

In [ ]:
lado=float(input("Digite o valor do lado do quadrado"))

Digite o valor do lado do quadrado5

In [ ]:
areaqua= lado * lado

In [ ]:
print("A area do quadradao é:", areaqua)

A area do quadradao é: 16.0